body{
display: block;
    background-color: #fff
}
p h1 {
    font-family: inherit;
    font-size: inherit;
    }

input{
 display: flex;
 align-items: center;
 font-size: 2,5px;
 margin-bottom: 0.5rem;
border-radius: 5px;
}



input, button, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
#checkbox{
    display: inline-block;

}